/* Theme 7 - Forest Green */

/* Scrollbar Colors */
html.theme-7 ::-webkit-scrollbar-thumb { background: #dddddd; }

/* Checkbox Colors */
.theme-7 [type='checkbox'], .theme-7 [type='checkbox']:checked { background-color: transparent; border-color: #dddddd }
.theme-7 [type='checkbox']:checked { background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 507.506 507.506' fill='%23dddddd'><g><path d='M163.865,436.934c-14.406,0.006-28.222-5.72-38.4-15.915L9.369,304.966c-12.492-12.496-12.492-32.752,0-45.248l0,0 c12.496-12.492,32.752-12.492,45.248,0l109.248,109.248L452.889,79.942c12.496-12.492,32.752-12.492,45.248,0l0,0 c12.492,12.496,12.492,32.752,0,45.248L202.265,421.019C192.087,431.214,178.271,436.94,163.865,436.934z'/></g></svg>"); }

/* Font Palettes */
.theme-7 .colored-fonts { font-palette: --palette1; }
.theme-7 .theme-palette-normal { font-palette: --palette4; }
.theme-7 .theme-palette-tajweed { font-palette: --palette1; }
.theme-7 .header { font-palette: --palette1; }

/* Markdown Colors */
.theme-7 .markdown hr { @apply border-[#dddddd]/20; }
.theme-7 .markdown a { @apply text-[#dddddd]; }
.theme-7 .markdown h3 { @apply text-[#dddddd]; }